@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans.woff2') format('woff2');
  font-weight: 400,600;
  font-style: normal;
  font-display: swap;
}

:root {
  --vp-font-family-base: "Open Sans", ui-sans-serif, system-ui, sans-serif;
}

/* Force tables to use full width of their container */
.vp-doc table {
  width: 100% !important;
  display: table !important; /* Ensure correct display mode if overridden */
}

/* Optional: style table headers and cells to ensure they also expand */
.vp-doc th,
.vp-doc td {
  width: auto;
}

.shadow-img {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out; /* Optional: smooth hover effect */
}

.shadow-img:hover {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
}